@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
	src: 
		 url("../fonts/woff/Poppins-Regular.woff") format("woff"),
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style:normal;
	src: 
		 url("../fonts/woff/Poppins-SemiBold.woff") format("woff"),
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style:normal;
	src: 
		 url("../fonts/woff/Poppins-Thin.woff") format("woff"),
}