$green:#41807a;
$red:#f5455d;
$light-green:#b7cecb;
$linear-green-navbar:linear-gradient(to left, #599993, #41807a 0%);
$bg-gray:#f6f6f6;
$success:#2ebd85;
$warning:#e53935;
$light-grey:#fbfbfb;
$default-border-radius:4px;

$main-font:'Poppins;';
$default-font-size:13px;
$title-font-size:16px;
$general-padding:10px;

$shadow:






